.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 18px;
    border-radius: 16px;

    img{
        width: 90px;
        height: 90px;
    }

    h1{
        margin: 20px 15px;
    }

    button{
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        padding: 10px;
        font-size: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            background: linear-gradient(90deg, rgba(64, 174, 255, 0.6), rgba(7, 255, 27, 0.6));
        }
    }
}