h5, .orderInfo p{
    font-style: italic;
}
body{
    background-color: aliceblue;
}
.orderBox *{
    box-sizing: border-box;
    margin: 4px 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Lucida Sans Regular';
}
.orderBox{
    min-width: 266px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 180px;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgb(99, 255, 255),rgb(165, 69, 255));
}
.orderInput h5{
    text-align: center;
}
.orderInput input,textarea,select{
    background-color: hsla(0, 0%, 100%, 0.527);
    box-shadow: 0 0 8px hsl(0, 0%, 33%);
}
.orderInput input:hover,textarea:hover,select:hover{
    background-color: hsla(0, 0%, 100%, 0.781);
    box-shadow: 0 0 10px hsl(0, 0%, 33%);
}

.orderName input{
    width: 100%;
    padding: 5px 10px 2px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.orderCount input{
    width: 100%;
    padding: 5px 10px 2px;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.orderComment textarea{
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.orderPayMethod{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.orderPayMethod select{
    width: 100%;
    margin: 8px 20px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    border: none;
}

.deliveryMethods{  
    display: flex;
    flex-direction: column;
}
.deliveryMethods input{
    margin-right: 10px;
}

.orderInfo{
    margin-top: 20px;
}

.orderInfo h3{
    margin: 16px 0;
    text-align: center;
    font-style: italic;
}
.orderInfo .orderCount{
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderCount p{
    margin-left: 10px;
    font-size: 25px;
}
.orderInfo{
    text-align: center;
    cursor: default;
}
.orderInfo div{
    padding: 6px 0px;
}
.orderInfo div:hover{
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 20px;
}