:root{
    --cl-background: #8b8b8b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "HelveticaNeue-Light", "Arial", sans-serif;
}

body{
    background-color: var(--cl-background);
}

.app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}
