:root{
    --cl-background: #8b8b8b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono",sans-serif;
}

body{
    background-color: var(--cl-background);
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}

@import "Components/StopWatch/stopwatch";
@import "Components/StopwatchManager/stopwatchManager";