@font-face {
    font-family: 'Nunito';
    src: url("./fonts/NunitLight.ttf");
}

:root{
    --cl-background: rgba(125, 74, 255, 0.89);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    background-color: var(--cl-background);
}

.app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}

@import "Components/Game/game.scss";
@import "Components/Result/result.scss";