@import "../../mixin";

.usersBox{
    width: 360px;
    height: 62%;
    display : flex;
    flex-direction: column;
    transform: translateY(10%);
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    position: relative;

    .searcher{
        display: flex;
        column-gap: 10px;
        align-items: center;
        width: 100%;
        padding: 10px 16px;
        border-radius: 20px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        transition: all .2s ease-in-out;

        &:hover{
            border: 2px solid rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        svg{
            width : 16px;
            height : 16px;
            opacity: 0.4;
        }

        input{
            outline: none;
            border: none;
            font-size: 16px;
        }
    }

    .dummyList{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .usersList{
        overflow-y: auto;
        list-style: none;
        margin-top: 20px;
        height: 76%;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
}

.user{
    position: relative;
    height: 60px;
    padding: 10px;

    &__avatar{
        border-radius: 50%;
        left: 0;
        top: 4px;
        width: 48px;
        height: 48px;
        position: absolute;
    }

    &__info{
        h3{
            position: absolute;
            top: 6px;
            left: 64px;
            color: #080f87;
            @include underline-animation(#080f87);
        }

        p{
            position: absolute;
            left: 64px;
            top: 28px;
            opacity: .4;

            svg{
                height: 12px;
                margin-right: 2px;
            }

            &:hover{
                opacity: .6;
            }

            @include underline-animation(black);
        }
    }


    &__action{
        width: 26px;
        height: 26px;
        position: absolute;
        right: 10px;
        top: 16px;
        padding: 2px;
        background-color: white;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

        img{
            width: 100%;
            height: 100%;
        }
    }

    &__action.plus{
        @include button-animation(rgba(52, 220, 52, 0.8));
    }

    &__action.minus{
        @include button-animation(#ec2400);
    }
}

.sendBox{
    width: 90%;
    height: 36px;
    position: absolute;
    bottom: 20px;
    left: 5%;
    border-radius: 16px;
    border: none;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    button {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        border: none;
        font-size: 20px;
        background: transparent;
    }

    @include button-animation(rgba(255, 118, 37, 0.8));
}