.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.counter_text{
    font-size: 90px;
}

.counter_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;

    button{
        width: 90px;
        height: 36px;
        font-size: 26px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        padding: 5px;

        &:hover{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        }
    }


    .counter_plus{
        background-color: rgba(74, 213, 35, 0.85);
    }

    .counter_minus{
        background-color: rgba(255, 58, 43, 0.85);
    }
}